{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
{% load user_filters %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались
        </div>
        <div class="card-body"> 
          {% with button='Сбросить пароль' %}
            {% include 'users/includes/form.html' %} 
          {% endwith %}
        </div>
      </div>
    </div>
  </div>  
{% endblock %}
